.type {
    color: rgba(43, 163, 255, 0.6);
}

.key {
    color: rgba(156, 220, 254, 0.6);
}

.value {
    color: rgba(206, 145, 120);
}

.syntax {
    color: rgba(212, 212, 212, 0.6);
}

/* 첫 번째 레벨 들여쓰기 */
.span-group > div {
    margin-left: 10px;
}

/* 두 번째 레벨 들여쓰기 */
.span-group > div > div {
    margin-left: 20px;
}

/* 세 번째 레벨 들여쓰기 */
.span-group > div > div > div {
    margin-left: 30px;
}

.font-kr {
    font-size: 19.4px;
}

.cursor-div {
    position: absolute;
    width: 0px;
    pointer-events: none; 
    z-index: 9999;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.cursor-div.show {
    width: 200px;
    opacity: 1; 
    visibility: visible; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6); /* 주변에 그림자 추가 */
    background-color: rgba(0, 0, 0, 0.4); /* 어두운 배경 색 추가 */    
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.cursor-div img {
    width: 200px; 
    height: auto;
    border-radius: 5px;
}